@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
	font-family: 'Inter', sans-serif;
	font-weight: bold;
}

.alignement-start{
  text-align: start;
}

.custom-footer{
  background-color: #1b1a1a;
  padding: 50px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.custom-footer .footer-subcol{
  max-width: 400px;
  padding: 0 20px;
  text-align: center;
}

.custom-footer .footer-subcol .sub-col-web-name{
  font-size: clamp(1.6rem, 6vw, 2.3rem);
  color: #fff;
}

.navbar{
	background-color: #fff !important;
  }
  .navbar img{
	height:8vh;
	width: auto;
  }

  .nav-link{
letter-spacing: 1px;
  }
.h1, h1 {
  font-size: calc(1.375rem + 1.5vw);
  text-align: center;
  margin-top: 20px;
  font-family: Times-new-roman;
}
.i2{
  height: 285px;
  width: 270px;
  padding: 10px;

}

.footer-navigation a{
  float: left;
  margin: 10px;
}
.footer-navigation h3
{
  font-family: sans-serif;
}


.container1 {
  position: relative;
  height: 500px;
  width: 1000px;
  top: 60px;
  
  display: flex;
}

.card {
  display: flex;
  height: 350px;
  width: 500px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}
.me-auto Nav-Link
{
  color: #000;
}

.card:not(:first-child) {
    margin-left: -50px;
}

.card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.card:hover ~ .card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

.card:hover .filledbar {
  width: 120px;
  transition: 0.4s ease-out;
}
.i1{
  height: 285px;
  width: 260px;
  padding: 10px;
}
  @media (min-width:1200px) {
    .h2, h2 {
      font-size: 4rem;
    }
  }
  
  @media (min-width:768px) {
    .row-cols-md-2 > * {
      flex: 0 0 auto;
      width: 33.33%;
    }
  }
  
  @media (min-width:768px) {
    .offset-md-2 {
      margin-left: 16.7%;
      padding-top: 0px;
      height: 10px;
    }
  }
  
  @media (min-width: 992px) {
    .g-4, .gy-4 {
      --bs-gutter-y: 1.5rem;
      align-items: center;
      padding-left: 0px;
    }
  }
  
  .h1, h1 {
    font-size: calc(1.375rem + 1.5vw);
    text-align: center;
  }
  @media screen and (min-width: 0px) and (max-width: 720px) {


  }
  