.background-from-pages{
  min-height: 100vh;
  background-color: #0f0f0f;
  display: flex;
  justify-content: center;
  justify-content: center;
}

.class1
{
    display: flex;
    max-width: 900px;
    margin: auto;
    flex-direction: column;
}


@media only screen and (max-width: 1000px) {
  .image
  {
    display: none !important;
  }
}
@media screen  and (min-width: 0px) and (max-width: 800px)
{


}